---
layout: homepage
title: Home
---
{% include header.html %}

<main class="content">
 <section>
   <img src="{{ site.baseurl}}/images/study-areas_hero.jpg" alt="Study Rooms at Townsville University Library" style="width:100%">
 </section>
      <section class="jumbotron">
        <section class="container">
          <h1>Need a study spot?</h1>
          <p>Whether you're looking for a quiet space for one or a collaboration table for your group, we have you covered!</p>
          <p><a class="btn btn-bookroom btn-lg" href="#" role="button">Book a Room &raquo;</a></p>
          </section>
          </section>
      </main>

<section class="container">
          <h2>Study Areas</h2>
          <p>Explore our study room options, view room details and check the calendar for open rooms.</p>

<section class="cards">
  <article class="card">
    <img src="{{ site.baseurl}}/images/roberts.jpg" alt="Roberts">
    <section class="text">
      <h3>Roberts</h3>
      <button>View details</button>
    </section>
  </article>
  <article class="card">
    <img src="{{ site.baseurl}}/images/severance-hall.jpg" alt="Severance Hall">
    <section class="text">
      <h3>Severance Hall</h3>
      <button>View details</button>
    </section>
  </article>
  <article class="card">
        <img src="{{ site.baseurl}}/images/commons.jpg" alt="Commons">
    <section class="text">
      <h3>The Commons</h3>
      <button>View details</button>
    </section>
  </article>
  <article class="card">
        <img src="{{ site.baseurl}}/images/turner-cafe.jpg" alt="Turner Cafe">
    <section class="text">
      <h3>Turner Cafe</h3>
      <button>View details</button>
    </section>
  </article>
  <article class="card">
        <img src="{{ site.baseurl}}/images/russell-house.jpg" alt="Russell House">
    <section class="text">
      <h3>Russell House</h3>
      <button>View details</button>
    </section>
  </article>
  <article class="card">
    <img src="{{ site.baseurl}}/images/the-stacks.jpg" alt="The Stacks">
    <section class="text">
      <h3>The Stacks</h3>
      <button>View details</button>
    </section>
  </article>
</section>
</section>

<hr>   
<section class="container">
<h2>News & Events</h2>
<section class="row">
<section class="col-md-4">
  <h3>Bio Study Group</h3>
   <p class="news">Tackle challenging course concepts with the same group of peers for two hours each week. Receive guidance and support from a trained Study Group Facilitator who has successfully completed the course.</p>
   <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
</section>
<section class="col-md-4">
  <h3>Collab Room Open</h3>
   <p class="news">Our newest collaboration room is now available for reservations. The room seats up to 10 people at 2 tables and includes a high-resolution projector, an 80” Sharp Aquos Board and Dell Optiplex PC.</p>
   <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
 </section>
 <section class="col-md-4">
  <h3>Computer Lab</h3>
   <p class="news">The first floor computer lab will be closed over Spring Break, March 5-10 for upgrades to computers, workstations and furnishings. Please check the online reservation center for open computer labs during this time.</p>
   <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
 </section>
</section>
</section>

{% include footer.html %}
