---
title: Study Areas
layout: base
---

{% include header.html %}

<div class="container-fluid">
    <main role="main">
        <br>
  <h1 class="text-center">{{ page.title }}</h1>
        <h4 class="text-center">Click on the study areas below for more information!</h4>
        <br>
        <br>
        </main>
</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
                <article>
                
<div class="card" style="width: 18rem;">
  <div class="card-header text-center">
    Helpful Links
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href=#>Builiding and Room Hours</a></li>
    <li class="list-group-item"><a href=#>School Calendar</a></li>
      <li class="list-group-item"><a href=#>Campus Map</a></li>
      <li class="list-group-item"><a href=#>Events and Closures</a></li>
  </ul>
</div>
                

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
           
    <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                      <div class="card-header text-center">
    What's your favorite place for group study?
  </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    The Dormitory
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    The Stacks
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    The Lodge
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Turner Cafe
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Other
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-bookroom btn-block btn-sm">
                        Vote</button>
                    <a href="#" class="small">View Result</a></div>
                
            </div>
        
        </div>
                    </article>
                <br>
            <br>
            <br>
            <br>
                <br>
                <br>
                <br>
            <br>
            <br>
			</div>
          
                <br>
            
            
			<div class="col-sm-6 col-md-6 col-lg-6">
                  
              
				<br>
                <article class="studyareas">
                    
                    {% for studyarea in site.studyareas %}
                    <div class="studyarea">
                    <h2 class="text-center"><a href="{{studyarea.url}}"><img src="{{ studyarea.image_path }}" width="100%" class="img-thumbnail" alt="{{ studyarea.title }}"/>{{ studyarea.title }}</a></h2>
                        
                        
                    </div>
                    
                    {% endfor %}
                    
                
     
                <br>
                <br>
        

                <br>
                <br>
                <br>
             
                <br>
                <br>
          
</div>
                
			<div class="col-sm-3 col-md-3 col-lg-3">
                <article>
				<h4 class="text-center">Friends Recommend:</h4>
                <br>
               
                <h6 class="text-center">"If you're going to be up all night writing a last minute paper, check out <a href="#">Turner Cafe</a>. They're open 24 hours and never run out of coffee!" - Allie, Comp Lit</h6>
                <br>
                <br>
                 <h6 class="text-center">"The morning before a big test I wake up early and study over a big breakfast at <a href="#">The Lodge</a>. Marla makes sure to make me as many pancakes as I have flashcards" - Kim, Biology</h6>
                <br>
                <br>
                 <h6 class="text-center">"My Marketing study group likes to meet up to work on our group projects in <a href="#">Roberts</a>. The round tables are perfect for collaboration" - Emilio, Business</h6>
                <br>
                <br>
                 <div class="card" style="width: 18rem;">
  <div class="card-body">
                  <div class="card-header text-center">
    Recommend a Study Area!
  </div>
      <br>
                <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName3" class="col-sm-10 control-label">Your Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputName3" placeholder="Name...">
    </div>
  </div>       
                    
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-10 control-label">Your Email</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputEmail3" placeholder="Email...">
    </div>
  </div>
                    <textarea class="form-control" rows="3">Your Favorite Spot...</textarea>
                    <br>
                   
                    <button type="button" class="btn btn-bookroom col-sm-12">Send</button>
                        
                    </form>
                </article>
                <br>
                <br>
                <br>
                <br>
                
               
			</div>
		</div>
	</div>
				
{% include footer.html %}
