<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Study Rooms Townsville University Library Group A LIS 786 Final Test</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <style>
  
    
    footer {
    font-family: 'Didact Gothic';font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0;
    border: 0;    
    background-color: #0CB3C0;
    color: #fff;
    padding: 15px 20px;
  }
  
  footer a {
      color: #fff;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  } 
  .footernav {
   font-size: 20px;
   text-align: left;
} 
  .address {
  text-align: right;
}
</style>
</head>
<body>
  
 <footer role="contentinfo">
      <nav class="footernav">
        <a href="#">FAQs</a> |
        <a href="#">Ask a Librarian</a> |
        <a href="#">Library Home</a> |
  </nav>
<section class="address">&copy; Townsville University Library 2018 <br />
1234 Main Street <br />
        Townsville, IL 01010 <br />
        (773) 555-1234 <br />
        library@townsville.edu </section>
</footer>
</body>
</html>