---
layout: base
title: Reservations
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Request Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
  body {font-family: Arial,sans-serif;
      background-color: #0CB3C0;
}


h1 {
    text-align: center;
    text-decoration: underline;
}

h4 {
	text-align: center;
	
}

p {
   text-align: center;
   text-indent: 50px;
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   }
   


    </style>
</head>
<body>
    
     <section class="content">
      {{ content }}
    </section>
      


    </body>
</html>

